body {
  margin: 0;
  padding-top: 85px;
  background-color: #e7f6ff;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
}

.wrapper {
  margin: 0 auto;
  max-width: 1080px;
  border-radius: 20px;
  box-shadow: 0px 10px 20px 0px rgba(0, 0, 0, 0.04);
  background: rgb(255, 255, 255);
}

.content {
  h1 {
    margin: 0;
  }

  ul {
    gap: 40px;
  }
}

.search-block {
  padding: 0 15px;
  border: 1px solid #f3f3f3;
  border-radius: 10px;
  width: 280px;

  input {
    padding: 13px;
    width: 200px;
    border: none;
    font-size: 16px;
  }

  .remove-btn {
    justify-self: flex-end;
  }
}

.remove-btn {
  opacity: 0.5;
  cursor: pointer;
  transition: opacity 0.2s ease-in-out;

  &:hover {
    opacity: 1;
  }
}

.btn {
  padding: 18px;
  width: 100%;
  border: none;
  border-radius: 18px;
  font-size: 16px;
  font-weight: 600;
  line-height: 19px;
  color: #fff;
  background-color: #9dd558;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out;

  &:hover {
    background-color: lighten(#9dd558, 7%);
  }

  &:active {
    background-color: darken(#9dd558, 7%);
  }
}
